In [2]:
# Q1.

a = int(input("Enter your marks"))
if a>90 :
    print("A")
elif a>80 and a<=90:
    print("B")
elif a<=80 and a>=60 :
    print("C")
elif a<60:
    print("D")

Enter your marks 80

C

In [5]:
# Q2.

b=int(input("Enter the cost price of your bike"))
if b <= 50000:
    print("5%")
elif b>50000 and b<=100000:
    print("10%")
elif b>100000:
          print("15%")

Enter the cost price of your bike 1000000

15%

In [ ]:
#Q3

c = str(input("Enter the name of the city"))
if c =="Delhi":
    print("Red fort")
elif c == "Agra":
    print("Taj Mahal")
elif c=="Jaipur":
    print("Jal Mahal")

In [ ]:
d = int(input("Enter the number"))
count=0
while ( d>10):
    if d%3==0:
     count=count+1
    d=d//3
print(count)

Q. Why and when we use while loop give detailed explanation with detailed explanation and suitable example?

Ans. We use while loop when we dont know that how many times the loop should be executed but we know the condition based on which the loop should be iterated , below code illusrates the same

In [ ]:
# its a program to find the quotient of a number when it is divided by 2 by using while loop

a = int(input())
q=0
while (a>1):
    a=a/2
    q++
print(q)

Q.Use nested loops to print three different pattern

   *
  ***
 *****

In [ ]:
a = int (input())
b=a
c=1
for i in range (1,b-c):
     print(" ",end='')
     for j in range (1,2*j-1):
       print("*",end='')
     print("")
     c=c-1

In [ ]:
a= int(input())
for i range (a):
    print("*",end='')
    for j in range (i):
        print("&")
        
    print("")

In [ ]:
a=int(input())
for i range (a):
    for j in range (i):
        print(a,end='')
    print("")

Q.Reverse a while loop to display numbers from 10 to 1

In [ ]:
i=10
while(i>=1):
    print(i)
    i=i-1

Q.Reverse a while to print numbers from 10 to 1

In [ ]:
i=10
while(i>=1):
    print(i)
    i=i-1